<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

        <!-- OGP -->
        <%#- include('./_includes/_ogpCommon.ejs') %>
        <%#- include('./_includes/_ogpTwitter.ejs') %>
        <%#- include('./_includes/_ogpFacebook.ejs') %>

    </head>
</html>

    <body>
        <%- include('./_includes/_header') %>

        <main>
            <%- include('./_pages/_mainVisual') %>

            <%- include('./_pages/_concept') %>

            <%- include('./_pages/_room') %>

            <%- include('./_pages/_news') %>

            <%- include('./_pages/_access') %>

        </main>

        <%- include('./_includes/_footer.ejs') %>

    </body>
</html>
